.list_manage {
  i {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
  }
  i.icon-shanchu {
    color: red;
  }
  i.icon-xiugai {
    color: #2979ff;
  }
  i.icon-yuntongbu {
    color: #00c853;
  }
  i.icon-lianjie {
    color: #2979ff;
  }
  i.icon-chajiangongneng {
    color: #d500f9;
  }
}
.md-list.md-dense .md-list-item-text {
  /*line-height: 40px !important;
  text-indent: 10px !important;*/
  position: static !important;
}
.md-select-menu .md-checkbox {
  margin-right: 6px !important;
}
.field-edit-name {
  margin: 0 !important;
}

.color-plugin-0 {
  color: darkgrey;
}
.color-plugin-1 {
  color: #00e676;
}
.color-plugin-2 {
  color: orange;
}
.color-plugin-3 {
  color: red;
}
.color-plugin-4 {
  color: purple;
}
.color-plugin-99 {
  color: blue;
}

.font-bold {
  font-weight: bold;
}

.color-grey {
  color: grey;
}

.color-black {
  color: black;
}

.color-red {
  color: #ff1744;
}

.color-orange {
  color: #ff9100;
}

.color-green {
  color: #00e676;
}

.color-purple {
  color: #d500f9;
}

.color-blue {
  color: #2979ff;
}

.background-color-grey {
  background-color: grey;
}

.background-color-black {
  background-color: black;
}

.background-color-red {
  background-color: red;
}

.background-color-orange {
  background-color: orange;
}

.background-color-green {
  background-color: green;
}

.background-color-purple {
  background-color: purple;
}

.background-color-blue {
  background-color: blue;
}

.font-link-color {
  color: #1e88e5;;
}

.font-block {
  color: white;
  padding: 2px 3px;
  border-radius: 3px;
  margin: 2px;
  font-size: 10px;
}
