.list_manage {
  i {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
  }
  i.icon-shanchu {
    color: #ff5722;
  }
  i.icon-xiugai {
    color: #2196f3;
  }
  i.icon-yuntongbu {
    color: green;
  }
}
.md-list.md-dense .md-list-item-text {
  /*line-height: 40px !important;
  text-indent: 10px !important;*/
  position: static !important;
}
.md-select-menu .md-checkbox {
  margin-right: 6px !important;
}
.field-edit-name {
  margin: 0 !important;
}

.color-red {
  color: red;
}

.color-orange {
  color: orange;
}

.color-green {
  color: green;
}

.color-purple {
  color: purple;
}

.color-blue {
  color: blue;
}

.color-black {
  color: black;
}

.color-grey {
  color: grey;
}

.font-bold {
  font-weight: bold;
}