@font-face {
  font-family: 'iconfont'; /* Project id 2693038 */
  src: url('iconfont.woff2?t=1675152762377') format('woff2'),
    url('iconfont.woff?t=1675152762377') format('woff'),
    url('iconfont.ttf?t=1675152762377') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 15px;
  margin: 2px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error-1:before {
  content: '\e60f';
}

.icon-right-1:before {
  content: '\e617';
}

.icon-limit-count:before {
  content: '\e613';
}

.icon-limit-conn:before {
  content: '\e615';
}

.icon-limit-req:before {
  content: '\e616';
}

.icon-cors:before {
  content: '\e610';
}

.icon-jwt-auth:before {
  content: '\e611';
}

.icon-mock:before {
  content: '\e612';
}

.icon-key-auth:before {
  content: '\e60e';
}

.icon-apex_plugin1:before {
  content: '\e6d7';
}

.icon-help:before {
  content: '\e752';
}

.icon-yuntongbu:before {
  content: '\e699';
}

.icon-host:before {
  content: '\e74a';
}

.icon-zhengshu-copy:before {
  content: '\e640';
}

.icon-jiedian:before {
  content: '\e614';
}

.icon-arrowright:before {
  content: '\e6ae';
}

.icon-fuzhi:before {
  content: '\ec7a';
}

.icon-chajiangongneng:before {
  content: '\e64f';
}

.icon-xiajiantou:before {
  content: '\eb6d';
}

.icon-shangjiantou:before {
  content: '\eb6e';
}

.icon-jian:before {
  content: '\e620';
}

.icon-tianjia:before {
  content: '\e622';
}

.icon-shanchu:before {
  content: '\e68e';
}

.icon-xiugai:before {
  content: '\e8cf';
}

.icon-web-icon-:before {
  content: '\e6f0';
}

.icon-fuwuqi:before {
  content: '\e607';
}

.icon-addNode:before {
  content: '\e600';
}

.icon-lianjie:before {
  content: '\e715';
}

.icon-SSL:before {
  content: '\e69f';
}
