/*
 * reset css
 */
 html,
 body {
     margin: 0;
     padding: 0;
     color: #333;
     -webkit-font-smoothing: antialiased;
     background: #F8FAFC;
 }
 body {
     font:14px/1.5 Arial,"Hiragino Sans GB","Microsoft Yahei";
     font: 14px/1.5 -apple-system, 'San Francisco', 'Helvetica Neue', Arial, 'Segoe UI', 'PingFang SC',
         'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', 'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
         'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei',
          'SimSun', 'sans-serif'; 
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 div,
 ul,
 ol,
 dl,
 li,
 dt,
 dd,
 p,
 em,
 i,
 b,
 cite,
 del,
 strong,
 pre,
 code,
 address,
 form,
 fieldset,
 legend,
 input,
 textarea,
 select,
 table,
 caption,
 thead,
 th,
 tbody,
 td,
 tfoot,
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
     margin: 0;
     padding: 0;
     font-size: 100%;
     font-style: normal;
     font-weight: normal;
     word-wrap: break-word;
     outline: none;
 }
 b{
     font-weight: bold;
 }
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
     display: block;
 }
 table {
     border-collapse: collapse;
     table-layout: fixed;
 }
 li {
     list-style: none;
 }
 img {
     border: 0;
 }
 input,
 textarea,
 select {
     background: #fff;
     font-family: inherit;
     resize: none;
 }
 input[type='button'],
 input[type='reset'],
 input[type='submit'] {
     -webkit-appearance: none;
 }
 a {
     color: #333;
     text-decoration: none;
     outline: none;
 }
 a:hover {
     color: #419cff;
     text-decoration: none;
 }
 .fl{
     float:left;
 }
 .fr{
     float:right;
 }
 .g-clearfix:after{
     content:'';
     height:0;
     overflow: hidden;
     clear:both;
     visibility: hidden;
 }
